* {
    font-family: sans-serif;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 450px;
    border: 1px solid black;
}

.box {
    border: 1px solid black;
    min-height: 150px;

    font-size: 40px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.box:hover {
    background: lightblue;
    transition: .3s;
}